@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  cursor: url(./assets/rocket.svg), auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: slategray;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: white;
}
.logo {
  display: none;
  visibility: hidden;
}