@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'rocket';
  src: url('./font/RocketRinder-yV5d.ttf') format('truetype');
  /* You can add more formats (e.g., woff, woff2) for better compatibility */
}

html {
  background-color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  cursor: url(./assets/rocket.svg), auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7B2CBF;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: white;
}
.logo {
  display: none;
  visibility: hidden;
}
.neon {
  color: #fff;
  text-shadow:
    0 0 1px rgba(255, 255, 255, 0.5),
    0 0 2px rgba(255, 255, 255, 0.5),
    0 0 4px rgba(255, 255, 255, 0.5),
    0 0 8px rgba(123, 44, 191, 0.5),
    0 0 16px rgba(123, 44, 191, 0.5),
    0 0 18px rgba(123, 44, 191, 0.5),
    0 0 20px rgba(123, 44, 191, 0.5),
    0 0 30px rgba(123, 44, 191, 0.5);
}

.animated-gradient-text {
  background: linear-gradient(45deg, #8a2be2, #ff00ff, #7B2CBF);
  /* Define your gradient */
  -webkit-background-clip: text;
  /* Clip the gradient to the text */
  -webkit-text-fill-color: transparent;
  /* Hide the original text color */
  animation: animateTextGradient 5s linear infinite;
  /* Define the animation */
}

@keyframes animateTextGradient {
  0% {
    background-position: 0% 50%;
    /* Start position of the gradient */
  }

  100% {
    background-position: 100% 50%;
    /* End position of the gradient */
  }
}

.grad {
  background: linear-gradient(to right,
      #f719c7 0%,
      #8a2be2 20%,
      #fabef4 40%,
      #ff00ff 50%,
      #7B2CBF 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

.grad-border {
  background: linear-gradient(to right,
      #f719c7 0%,
      #8a2be2 20%,
      #fabef4 40%,
      #ff00ff 50%,
      #7B2CBF 60%);
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.box-e {
  padding: 10px;
  line-height: 1;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(0deg, #8a2be2, #ff00ff 25%, transparent 25%, transparent 75%, #7B2CBF 75%),
    /* left */
    linear-gradient(90deg, #8a2be2, #ff00ff 25%, transparent 25%, transparent 75%, #7B2CBF 75%),
    /* top */
    linear-gradient(180deg, #8a2be2, #ff00ff 25%, transparent 25%, transparent 75%, #7B2CBF 75%),
    /* right */
    linear-gradient(270deg, #8a2be2, #ff00ff 25%, transparent 25%, transparent 75%, #7B2CBF 75%)
    /* bottom */
  ;
}